##### Quality

TBD
<%#
* Regularly engages with teams other than their own.
* Identifies situations where collaboration between teams will yield good results.
* Iteratively works towards results on cross-team projects without over-analysis.
* Works with the Engineering Manager to assign work to the team.
* Is able to take a long term goal and turn this into small actionable steps that can be implemented in an iterative way.
* Identifies and prevents decisions that are not ["two-way door decisions"](/handbook/values/#make-two-way-door-decisions).
* Champions a no-blame culture and encourages learning from mistakes.
%>
